.shop{
    &__content{
        padding: 50px 0;
        @include m-tablet(){
            padding: 30px 0;
        }
    }
    &__selectrow{
        display: flex;
        @include m-phone(){
            flex-direction: column;
            align-items: center;
        }
    }
    &__select{
        display: flex;
        border: none;
        margin-right: 30px;
        width: 160px;
        height: 34px;
        border-bottom: 1px solid #D6D6D6;
        cursor: pointer;
        align-text: center;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
        @include m-phone(){
            margin-right: 0;
            margin-bottom: 20px;
            width: 200px;
            height: 50px;
            font-size: 20px;
        }
    }
    &__select-item{}
    &__rows{}
    &__row{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        @include m-tablet(){
            padding: 30px 0;
        }
        @include m-phone(){
            flex-direction: column;
        }
    }
    &__card{
        padding: 10px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc( 100% / 3 - ( 20px * ( 3 - 1 ) / 3 ));
        max-width: calc( 100% / 3 - ( 20px * ( 3 - 1 ) / 3 ));
        @include m-tablet(){
            flex-basis: calc( 100% / 3 - ( 10px * ( 3 - 1 ) / 3 ));
            max-width: calc( 100% / 3 - ( 10px * ( 3 - 1 ) / 3 ));
        }
        @include m-phone(){
            flex-basis: 100%;
            max-width: 100%;
            margin-bottom: 50px;

            
        }
    }
    &__card-img{
        
        margin-bottom: 25px;
    }
    &__card-pic{
        width: 330px;
        object-fit: cover;
    }
    &__card-subtitle{
        margin-bottom: 10px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #333333;
    }
    &__card-title{
        margin-bottom: 25px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        text-align: center;
        color: #333333;
    }
    &__btn{}
    &__btn-link{
        padding: 10px 20px;
    }
    &__btn-show{
        margin: 30px 0 0 0;
        display: flex;
        justify-content: center;
    }
    &__description{
        padding-top: 30px;
        position: relative;
        display: flex;
        width: 920px;
        left: 50%;
        transform: translateX(-50%);
        @include m-tablet(){
            padding-top: 30px;
            flex-direction: column;
        }
        @include m-phone(){
            padding-top: 0;
        }
    }
    &__description-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 540px;
        height: 240px;
        background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 82.29%);
        z-index: 2;
    }
    &__dscr{
        position: relative;
        z-index: 1;
        max-width: 540px;
        margin-right: 103px;
        max-height: 240px;
        overflow: hidden;
        @include m-tablet(){
            margin: 0 auto;
            margin-bottom: 30px;
        }
        @include m-phone(){
            max-width: 330px;
        }
    }
    &__text{     
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #333333;
    }
    &__dscr-btn{
        position: absolute;
        z-index: 5;
        bottom: 0;
        left: 0;
        border-bottom: 1px dashed #333333;
    }
    &__dscr-link{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #333333;
    }
    &__picts{
        max-width: 277px;
        max-height: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        @include m-tablet(){
            margin: 0 auto;
        }
    }
    &__dscr-item{
        max-width: 127px;
        height: 133px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    &__dscr-item:nth-child(1){
        margin-right: 20px;
    }
    &__dscr-item:nth-child(3){
        margin-right: 30px;
    }


    &__dscr-svg{
        width: 70px;
        height: 70px;
        margin-bottom: 15px;
    }
    &__dscr-text{
        display: block;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #000000;
    }
    
}

.inactive{
    display: none;
}

.activate{
    display: block;
}

.full{
    max-height: 100%;
}

.margin{
    margin: 0;
}
