.opening{
    position: relative;
    &__bg{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        margin-top: -77px;
        width: 1920px;
    }
    &__bg-pic{
        object-fit: cover;
    }
    &__content{
        position: relative;
        z-index: 3;
        padding: 523px 0 28px 0;
    }
    &__title{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    &__title-text{
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        text-align: center;
        color: #FFFFFF;
    }
    &__btn{
        margin-bottom: 110px;
    }
    &__footer{}
    &__list{
        display: flex;
        justify-content: center
    }
    &__list-item{
        padding: 0 15px
    }
    &__list-item:not(:last-child){
        border-right: 1px solid #FFFFFF;
    }
    &__list-link{}
    &__list-pic{}
}