.salons{
    position: relative;
    width: 100%;
    
    &__bg{
        position: absolute;
        z-index: 1;
        width: 2560px;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        background: url("../img/content/salons-bgpic.jpg") repeat;

    }
    &__content{
        position: relative;
        z-index: 3;
        padding: 100px 0;

    }
    &__subtitle{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    &__subtitle-text{}
    &__title{
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
    }
    &__title-text{}
    &__dscr{
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
        
    }
    &__dscr-text{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: #FFFFFF;
        display: block;
        max-width: 730px;
    }

}