.specoffer{
    position: relative;
    &__bg{
        position: absolute;
        z-index: 1;
        width: 2560px;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        background: url("@img/salons-bgpic.jpg") repeat;
    }
    &__bg-pic{}
    &__content{
        position: relative;
        padding: 100px 0 120px 0;
        z-index: 3;
    }
    &__subtitle{
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    &__subtitle-text{}
    &__title{
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }
    &__title-text{}
    &__box{
        display: flex;
        justify-content: center;
    }
    &__menu{
        margin-right: 80px;
    }
    &__list{
        align-items: center;
    }
    &__list-item:not(:last-child){
        margin-bottom: 15px;
    }
    &__list-svg{
        width: 17px;
        height: 17px;
        fill: #fff;
        margin-right: 20px;
    }
    &__list-text{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #FFFFFF;
    }
    &__sendform{
        border: 1px solid #fff;
        width: 448px;
        height: 113px;
        padding: 15px;
    }
    &__sendform-inner{
        background: #fff;
        display: flex;
        padding: 20px;
        align-items: center;
    }
    &__form-input{
        width: 200px;
        height: 45px;
        background: #FFFFFF;
        border: 1px solid #D6D6D6;
        margin-right: 15px;
        padding-left: 20px;
    }
    &__btn{}
    &__btn-link{
        padding: 15px 35px;
        background: #333333;
        border: 1px solid #FFFFFF;  
    }
    &__btn-text{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}