.item{
    position: relative;
    padding-bottom: 120px;
    @include m-tablet(){
        padding-bottom: 60px;
    }
    &__content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include m-tablet(){
            flex-direction: column-reverse;
        }
    }
    &__picts{
        max-width: 540px;
        width: 100%;
        @include m-tablet(){
            margin: 0 auto;
        }

    }
    &__preview{
        position: relative;
        width: 540px;
        height: 430px;
        margin-bottom: 30px;
        overflow: hidden;
    }
    &__preview-pic{
        position: relative;
        object-fit: cover;
    }
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__row-pic{
        width: 160px;
        height: 120px;
        overflow: hidden;
    }
    &__row-img{
        width: 100%;
        object-fit: contain;
        
    }
    &__dscr{
        max-width: 540px;
        width: 100%;
        border: 1px solid #D6D6D6;
        padding: 10px;
        @include m-tablet(){
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }
    &__dscr-box{
        border: 1px solid #D6D6D6;
        width: 100%;
        height: 100%;
        padding: 40px 30px;
    }
    &__title{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 30px;
    }
    &__subtitle{
        padding-bottom: 30px;
        border-bottom: 1px solid #D6D6D6;
        margin-bottom: 30px;
    }
    &__subtittle-text{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #979797;
    }
    &__subtittle-text:not(:last-child){
        margin-right: 15px;
    }
    &__subtittle-text:nth-child(2){
        margin-right: 25px;
    }
    &__dscr-text{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #333333;
        margin-bottom: 30px;
    }
    &__price{
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 30px;
    }
    &__btns{
        display: flex;
    }
    &__btn-buy{
        padding: 10px 20px;  
        margin-right: 30px;

        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
    &__btn-bskt{
        padding: 10px 20px;

        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}